{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/3.17.0/adyen.css"
integrity="sha384-gbQyzqV1xX+snFEMrubEm0IpmYSufBjUnHzTaJZ+dcWCyxl0j94IZhnfC2gbxgeu"
crossorigin="anonymous">

<div id="dropin"></div>
<div style="visibility:hidden;" id="ck">{{ client_key }}</div>

<script src="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/3.17.0/adyen.js"
integrity="sha384-G9jkTAyCOIVdksXbtrNgdur2DyRi85ujYLXbqe5AvvH23rN21d7xiU7cRIqvsEaH"
crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

{% endblock %}